{% load static i18n customtag %}
{% get_current_language as LANG %}
<div class="uk-section uk-section-primary uk-margin-large-top">
  <div class="uk-container">
    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
      <div>
        <p>
          <a href="" class="uk-icon-button uk-margin-right" uk-icon="github"></a>
          <a href="" class="uk-icon-button uk-margin-right" uk-icon="twitter"></a>
          <a href="" class="uk-icon-button uk-margin-right" uk-icon="instagram"></a>
        </p>
      </div>
    </div>
  </div>
</div>
